<!DOCTYPE html>
<html lang="en">

<head>
    <title>足力健清爽鞋</title>
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/camtoh5ds.css" />
	 <link rel="stylesheet" href="css/css.css" />
    <script src="js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/17.1.1/Tween.min.js"></script>
</head>
		<style>
					{touch-action: none;}
	body {
				font-family: Monospace;
				background-color: #000;
				color: #fff;
				margin: 0px;
				overflow: hidden;
				position:fixed;

			}

			#info {
				color: #fff;
				position: absolute;
				top: 10px;
				width: 100%;
				text-align: center;
				z-index: 100;
				display:block;
			}
			#info a {
				color: #75ddc1;
				font-weight: bold;
			}



			.image_top {
				position:absolute;
				z-index: 1;
				left:50%;
				top:15px;
				transform: translateX(-50%);
			}
								.image_bottom {
				position:absolute;
				z-index: 1;
				left: 50%;
				bottom: 0px;
				transform: translateX(-50%);

			}
        </style>
<body>
<audio id ="myAudio" src='' type="audio/mpeg">
</audio>

            <div class="wer one" style="display: none;"><p onclick="Show_Hidden(xq1);"> xq1 <p></div>
            <div class="wer two" style="display: none;"><p onclick="Show_Hidden(xq2);"> xq2 <p></div>

			<div class="wer a1" style="display: block;"><p onclick="Show_Hidden(xqa1),donghua3();">手机播放 <p></div>
            <div class="wer a2" style="display: block;"><p onclick="Show_Hidden(xqa5),Show_Hidden(xqa2),donghua5();"> 权威资源<p></div>
            <div class="wer a4" style="display: block;"><p onclick="Show_Hidden(xqa4),donghua6();">半月谈AI音箱<p></div>

			<div class="wer b1" style="display: none;"><p onclick="Show_Hidden(xqb1),donghua3();">手机扫描 <p></div>
            <div class="wer b2" style="display: none;"><p onclick="Show_Hidden(xqb2),donghua5();"> 海量资源<p></div>
            <div class="wer b4" style="display: none;"><p onclick="Show_Hidden(xqb4),donghua6();">智能音箱<p></div>


		<div class='twk' id='xq1' style='display:none'>
    	</div>
		<div class='twk' id='xq2' style='display:none'>
    	</div>



        <div class='twk' id='xqa1' style='display:none'>
    	</div>
		<div class='twk' id='xqa2' style='display:none'>
    		 <img class='tw' src='images/ziyuan.jpg'><img onclick="Show_Hidden(xq2)" class='close' id ='closetab' src='img/close.png'>
    	</div>
    	<div class='twk' id='xqa3' style='display:none'>
    	</div>
		<div class='twk' id='xqa4' style='display:none'>
    	</div>
		<div class='twk' id='xqa5' style='display:none'>
    	</div>


        <div class='twk' id='xqb1' style='display:none'>
    	</div>
		<div class='twk' id='xqb2' style='display:none'>
    	</div>
    	<div class='twk' id='xqb3' style='display:none'>
    	</div>
		    	<div class='twk' id='xqb4' style='display:none'>
    	</div>

    <div class="image_background">

        </div>

		<div class="image_bottom">
		<div class="btn_box pages">

            <span class="tips" onclick="Show_Hidden(xqa5),Show_Hidden(xqa2),donghua5();"></span>
            <span class="tips" onclick="Show_Hidden(xqa1),donghua3();"></span>
			<span class="tips" onclick="Show_Hidden(xqa4),donghua6();"></span>

        </div>
    </div>
	


	    <div class="xan" id="app">
        <div v-if="selectindex==1" class="active">
            <span v-for="(item,index) in list1" :onmousedown="'Anclick(\''+selectindex+'-'+(index+1)+'\')'" class="active">
                <img :src="item" width="50" algin="center" /></span>
        </div>

        <div v-if="selectindex==2" class="active">
            <span v-for="(item,index) in list2" :onmousedown="'Anclick(\''+selectindex+'-'+(index+1)+'\')'" class="active">
                <img :src="item" width="50" algin="center" /></span>
        </div>

        <div v-if="selectindex==3" class="active">
            <span v-for="(item,index) in list3" :onmousedown="'Anclick(\''+selectindex+'-'+(index+1)+'\')'" class="active">
                <img :src="item" width="50" algin="center" /></span>
        </div>

        <div v-if="selectindex==4" class="active">
            <span v-for="(item,index) in list4" :onmousedown="'Anclick(\''+selectindex+'-'+(index+1)+'\')'" class="active">
                <img :src="item" width="50" algin="center" /></span>
        </div>

        <div v-if="selectindex==5" class="active">
            <span v-for="(item,index) in list5" :onmousedown="'Anclick(\''+selectindex+'-'+(index+1)+'\')'" class="active">
                <img :src="item" width="50" algin="center" /></span>
        </div>

    </div>
    <script src="build/three.js"></script>
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/controls/OrbitControls.js"></script>
    <script src="js/loaders/GLTFLoader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/17.1.1/Tween.min.js"></script>


    <script src="js/WebGL.js"></script>
    <script src="js/libs/stats.min.js"></script>


	<script src="js/dat.gui.min.js"></script>
	<script src="js/Detector.js"></script>
	<script src="js/inflate.min.js"></script>
    <script>
var vm = new Vue({
            el: '#app',
            data: function () {
                return {
                    selectindex: 1,
                    list1: [
                        'textures/a.png',
                        'textures/b.png',
                        'textures/c.png',
                        'textures/d.png',
                        'textures/e.png',
                    ],
                };
            }
        });

        function Anclick(clickindex) {

            switch (clickindex) {
                case '1-1':
                    donghua1();
                    break;
                case '1-2':
                    donghua2();
                    break;
                case '1-3':
                    donghua3();
                    break;
                case '1-4':
                    donghua4();
                    break;
                case '1-5':
                    donghua5();
                    break;
            }
        }

		function backToNormalView() {	
        

        var target = controls.target.clone();
        new TWEEN.Tween(target).to({
            x: 0,
            y: 0,
            z: 0
        }, 1000)
            .onUpdate(function () {
                camera.lookAt(target);
                controls.target = target.clone();
            })
            .onComplete(function () {
                controls.target = new THREE.Vec3(-0.00001,0,0)
                controls.enable = true;
            })
            .easing((TWEEN.Easing.Quadratic.InOut)).start();

        new TWEEN.Tween(camera.position).to({
            z:  0,
            x:  0,
            y:  0,
        }, 2000).onComplete(function () {
            if(trid.style.display=="block"){ 	
                trid.style.display='none';
            }else{
                trid.style.display='block';
                controls.enable = false;
            }
        }).easing((TWEEN.Easing.Quadratic.InOut)).start();
    }
	function Show_Hidden(trid){
			if(trid.style.display=="block"){
				trid.style.display='none';
			}else{
				trid.style.display='block';
			}
			switch (trid.id) {
				case('xq1'):
			
                    tweenCameraWithHotspot(targetArray[1], trid,cameraPositionArray[0].position);
					break;
				case ('xq2'):
               
                    tweenCameraWithHotspot(targetArray[2], trid,cameraPositionArray[1].position);
                    break;
					
					
                case ('xqa1'):
        
                tweenCameraWithHotspot(targetArray[3], trid,cameraPositionArray[2].position);
                break;
                case ('xqa4'):
               
                    tweenCameraWithHotspot(targetArray[2], trid,cameraPositionArray[3].position);
                    break;
					
                  case ('xqa5'):
      
                tweenCameraWithHotspot(targetArray[7], trid,cameraPositionArray[4].position);
                break;
				
				                 

				default:break;
            }
	}




        if (WEBGL.isWebGLAvailable() === false) {
            document.body.appendChild(WEBGL.getWebGLErrorMessage());
        }

    var container, mixer, controls;
    var camera, scene, renderer, light, scenea;
    var group = new THREE.Object3D();
    var startMove = false;
    var times = 0;
    var rotationDirection = -1;
    var opacity = 0.002;
    var clock = new THREE.Clock();
    var animUp = false; 
    var currentAction = null;
    var Uvoffset = 0.03;
    var renderer, gui, light, stats;
    var cube, cube2, cube3, cube4, cube5, cube6,cubea1,cubea2,cubea3,cubea4,cubeb1,cubeb2,cubeb3,cubeb4;

    var showanimation = [];
    var shoeModel;
    var opcityDir = -1;
    var cameraStartToMove = false;
    var array_count = 0;

    var camPositions = [];
    var ctlTargets = [];
    var currentIndex = -1;
    var intvTime = 2000;
    var targetArray = [{name: 'reset', position: new THREE.Vector3(0, 0, 0)}];
	var targetArraya;
    var cameraPositionArray = [{position: new THREE.Vector3(3, 1, 21 )}, {position: new THREE.Vector3(3, 1, 21)},{position: new THREE.Vector3(1, 0.5, 4)},{position: new THREE.Vector3(1, 0.5, 4)},{position: new THREE.Vector3(3, 1, 21)}];
    var movingState = false;
	var objectQi;


        init();
        animate();


	function initRender() {               
    renderer = new THREE.WebGLRenderer({
        alpha: true,
        antialias: true
    });

    renderer.shadowMap.enabled = true;
    renderer.setSize(window.innerWidth, window.innerHeight);
    renderer.shadowMap.type = THREE.PCFSoftShadowMap;
  
    document.getElementById("container").appendChild(renderer.domElement);

}


        function defineCameraPosition(camera,hotspot){
		    var count = 1;
		    var cameraPosition = camera.position.clone();
		    var hotspotPosition = hotspot.position.clone();
			var positionNormalize = cameraPosition.subVectors(cameraPosition,hotspotPosition).normalize();
		    return new THREE.Vector3(cameraPosition.x + count*positionNormalize.x,cameraPosition.y + count*positionNormalize.y,cameraPosition.z + count*positionNormalize.z);
		}
        function tweenCamera(index) {
            controls.enable = false;
            var target = controls.target.clone();
            new TWEEN.Tween(target).to({
                    x: ctlTargets[index].x,
                    y: ctlTargets[index].y,
                    z: ctlTargets[index].z
                }, 2000)
                .onUpdate(function () {
                    camera.lookAt(target);
                    controls.target = target.clone();
                })
                .onComplete(function () {
                    controls.target = ctlTargets[index].clone();
                    controls.enable = true;
                })
                .easing(TWEEN.Easing.Linear.None).start();
				
            new TWEEN.Tween(camera.position).to({
                    x: camPositions[index].x,
                    y: camPositions[index].y,
                    z: camPositions[index].z
                }, 2000)
                .easing(TWEEN.Easing.Linear.None).start();
        }

		function tweenCameraWithHotspot(hotspot,trid,cameraPosition) {
		    var hotspotPosition = hotspot.position;

			console.log()
            controls.enable = false;

            var target = controls.target.clone();
            new TWEEN.Tween(target).to({
                x: hotspotPosition.x,
                y: hotspotPosition.y,
                z: hotspotPosition.z
            }, 1000)
                .onUpdate(function () {
                    camera.lookAt(target);
                    controls.target = target.clone();
                })
                .onComplete(function () {
                   controls.target = hotspotPosition.clone();
                    controls.enable = true;
                })
                .easing((TWEEN.Easing.Quadratic.InOut)).start();
           
            new TWEEN.Tween(camera.position).to({
                z:  cameraPosition.z,
                x:  cameraPosition.x,
                y:  cameraPosition.y,
            }, 2000).onComplete(function () {
                movingState = false;
                if(trid.style.display=="block" && trid.id !='xq4'){ 	
                	trid.style.display='none';
                }else{
                	trid.style.display='block';
                    controls.enable = false;
                }
            }).easing((TWEEN.Easing.Quadratic.InOut)).start();

	}

        function cameraMoveState() {
            moveDirection = 1;
            if (array_count < 4) {
                array_count++;
            } else {
                array_count = 0;
            }

            if (camPositions.length > array_count) {
                tweenCamera(array_count);
            }

           
        }


        function cameraMoveBackState() {
            moveDirection = -1;
            if (array_count > 0) {
                array_count--;

            } else {
                array_count = 4;
            }

            if (camPositions.length > array_count) {
                tweenCamera(array_count);
            }

          

        }


        function startTomove() {
            times++;
            if (times == 2) {
                startMove = true;
             
                opcityDir = -opcityDir;
        
                playDownAnimation();
                times = 0;
            } else {
                startMove = true;
                opcityDir = -opcityDir;
            }

        }

        function resetEveryThing() {
            if (shoeModel) {
                shoeModel.traverse(function (child) {
                    if (child.type == 'Mesh') {
                        child.material.opacity = 1;
                        child.material.transparent = true;
                    }

                })
            }
        }

        function playDownAnimation() {
            if (showanimation[1]) {
                var action = mixer.clipAction(showanimation[1]);
                action.loop = THREE.LoopOnce;
                action.time = 0;
                action.clampWhenFinished = true;
                action.enable = true;
                action.play();
            }
        }
function donghua1() {
shoeModel.visible = true;
objectQi.visible = false;



			cubea4.visible = true;
            cubea1.visible = true;
            cubea2.visible = true;
            cubea3.visible = true;
            document.getElementsByClassName('a1')[0].style.display = 'block';
            document.getElementsByClassName('a2')[0].style.display = 'block';
           
            document.getElementsByClassName('a4')[0].style.display = 'block';



			cubeb4.visible = false;
            cubeb1.visible = false;
            cubeb2.visible = false;
            cubeb3.visible = false;
            document.getElementsByClassName('b1')[0].style.display = 'none';
            document.getElementsByClassName('b2')[0].style.display = 'none';

            document.getElementsByClassName('b4')[0].style.display = 'none';
			
			controls.minPolarAngle = Math.PI / 2 -0.11;
			controls.maxPolarAngle = Math.PI / 2 +0.08;     
			controls.minDistance = 6;
}


        function donghua2() {
            //动画2
            shoeModel.visible = false;
objectQi.visible = true;
            cubea4.visible = false;
            cubea1.visible = false;
            cubea2.visible = false;
            cubea3.visible = false;
            document.getElementsByClassName('a1')[0].style.display = 'none';
            document.getElementsByClassName('a2')[0].style.display = 'none';
            
            document.getElementsByClassName('a4')[0].style.display = 'none';

			cubeb1.visible = true;
            cubeb2.visible = true;
            cubeb3.visible = true;
			cubeb4.visible = true;
			document.getElementsByClassName('b1')[0].style.display = 'block';
			document.getElementsByClassName('b2')[0].style.display = 'block';

			document.getElementsByClassName('b4')[0].style.display = 'block';
			
			controls.minPolarAngle = Math.PI / 2 -0.55;
			controls.maxPolarAngle = Math.PI / 2 +0.13;      
			controls.minDistance = 6;
        }

		
		
var listener = new THREE.AudioListener();
var audio = document.getElementById("myAudio");
var sound = new THREE.Audio( listener );
        function donghua3() {
     
            audio.src = 'http://qiniucdn.happyppt.com/0402shi/R.mp3';
            audio.play();
		    controls.minPolarAngle = Math.PI / 2 -0.4;
			controls.maxPolarAngle = Math.PI / 2 +0.13;       
			controls.minDistance = 2;

        }



		        function donghua4() {
       

                    audio.src = 'http://qiniucdn.happyppt.com/0402shi/L.mp3';
                    audio.play();
					

        }


		        function donghua5() {
   

                    audio.src = 'http://qiniucdn.happyppt.com/0402shi/xijinping.mp3';
                    audio.play();


        }



		        function donghua6() {
        

                    audio.src = 'http://qiniucdn.happyppt.com/0402shi/xy.mp3';
                    audio.play();
					
		    controls.minPolarAngle = Math.PI / 2 -0.4;
			controls.maxPolarAngle = Math.PI / 2 +0.13;       
			controls.minDistance = 2;
        }







        function init() {
            container = document.getElementsByClassName('image_background')[0];


			camera = new THREE.PerspectiveCamera( 30, window.innerWidth / window.innerHeight, 0.25, 200 );
			camera.position.set( 3, 1, 21 );
            camera.add( listener );
            scene = new THREE.Scene();

            scene.add(group);

            var hemiLight = new THREE.HemisphereLight(0xffffff, 0xffffff, 1);
            hemiLight.color.setHSL(0.6, .8, 1);
            hemiLight.groundColor.setHSL(0.6, .3, 0.3);
            hemiLight.position.set(0, 50, 0);
            scene.add(hemiLight);


            var ambientLight = new THREE.AmbientLight(0xcccccc, 0.6);
            scene.add(ambientLight);

            var pointLight = new THREE.PointLight(0xffffff, .1);
            camera.add(pointLight);
            group.add(camera);

          





			var helper = new THREE.AxesHelper(50);


			var material = new THREE.MeshBasicMaterial({color: 0xffffff, transparent: true, opacity: 0.2});

		
			var geometry = new THREE.SphereBufferGeometry(0.01, 0.01, 0.01);


			cube = new THREE.Mesh(geometry, material);
			cube.position.set(0,0, 0);
			cube.name  = 'xq1';
            targetArray.push({name:cube.name,position:cube.position});
			scene.add(cube);


			cube2 = new THREE.Mesh(geometry, material);
			cube2.position.set(0,0, 0);
            cube2.name  = 'xq2';
            targetArray.push({name:cube2.name,position:cube2.position});
			scene.add(cube2);


			cubea1 = new THREE.Mesh(geometry, material);
			cubea1.position.set(-0.5, 0.4, -0.17);
			cubea1.name  = 'xqa1';
            targetArray.push({name:cubea1.name,position:cubea1.position});
			scene.add(cubea1);

		
			cubea2 = new THREE.Mesh(geometry, material);
			cubea2.position.set(0, 1.5, -0.17);
            cubea2.name  = 'xqa2';
            targetArray.push({name:cubea2.name,position:cubea2.position});
			scene.add(cubea2);

			cubea3 = new THREE.Mesh(geometry, material);
			cubea3.position.set(-2, 0.8, -0.17);
            cubea3.name  = 'xqa3';
            targetArray.push({name:cubea3.name,position:cubea3.position});
			scene.add(cubea3);

				
			cubea4 = new THREE.Mesh(geometry, material);
			cubea4.position.set(-0.12,-0.05,0);
            cubea4.name  = 'xqa4';
            targetArray.push({name:cubea4.name,position:cubea4.position});
			scene.add(cubea3);
			
						
			cubea5 = new THREE.Mesh(geometry, material);
			cubea5.position.set(-0.12,-1.3,0);
            cubea5.name  = 'xqa5';
            targetArray.push({name:cubea5.name,position:cubea5.position});
			scene.add(cubea5);

		
			cubeb1 = new THREE.Mesh(geometry, material);
			cubeb1.position.set(-0.5, 0.4,  -2.2);
			cubeb1.name  = 'xqb1';
            targetArray.push({name:cubeb1.name,position:cubeb1.position});
			scene.add(cubeb1);
		
			cubeb2 = new THREE.Mesh(geometry, material);
			cubeb2.position.set(0, 1.5, -2.2);
            cubeb2.name  = 'xqb2';
            targetArray.push({name:cubeb2.name,position:cubeb2.position});
			scene.add(cubeb2);

	
			cubeb3 = new THREE.Mesh(geometry, material);
			cubeb3.position.set(-2, 0.8, -2.2);
            cubeb3.name  = 'xqb3';
            targetArray.push({name:cubeb3.name,position:cubeb3.position});
			scene.add(cubeb3);

				
			cubeb4 = new THREE.Mesh(geometry, material);
			cubeb4.position.set(0,0.08,-2);
            cubeb4.name  = 'xqb4';
            targetArray.push({name:cubeb3.name,position:cubeb3.position});
			scene.add(cubeb3);
			
			

			console.log(targetArray);











	
				var path = 'textures/cube/Bridge2/';
				var format = '.jpg';
				var envMap = new THREE.CubeTextureLoader().load( [
					path + 'posx' + format, path + 'negx' + format,
					path + 'posy' + format, path + 'negy' + format,
					path + 'posz' + format, path + 'negz' + format
		
				] );


	

			var patha = 'textures/cube/Bridge2/';
            var formata = '.jpg';
            var backtex = new THREE.CubeTextureLoader().load([
                patha + 'house.right' + formata,
                patha + 'house.left' + formata,
                patha + 'house.top' + formata,
                patha + 'house.bottom' + formata,
                patha + 'house.front' + formata,
                patha + 'house.back' + formata
            ]);
            scene.background = backtex;
            scene.add(group);





            
            	var loader = new THREE.GLTFLoader();
				loader.load( 'http://qiniucdn.happyppt.com/0402shi/B.gltf',
				function ( gltf ) {
                    gltf.scene.scale.set(.23, .23, .23);
                    gltf.scene.position.y -= 2.1;
					gltf.scene.position.z -= -1.6;
					gltf.scene.traverse( function ( child ) {
						if ( child.isMesh ) {
			
							child.material.envMap = envMap;
						}
					} );
                   var animations = gltf.animations;

				        if (animations && animations.length) {
                        mixer = new THREE.AnimationMixer(gltf.scene);
                        for (var i = 0; i < animations.length; i++) {
                            showanimation.push(animations[i]);
                        }
                    }

				    shoeModel = gltf.scene;
					scene.add( gltf.scene );

				},
				undefined,
				function ( e ) {

					console.error( e );

				} );






	
            	var loadera = new THREE.GLTFLoader();
				loadera.load( 'http://qiniucdn.happyppt.com/0402shi/A.gltf',
				function ( gltfa ) {
                    gltfa.scene.scale.set(.23, .23, 0.23);
                    gltfa.scene.position.y -= 2.1;
					gltfa.scene.traverse( function ( child ) {
						if ( child.isMesh ) {
				
							child.material.envMap = envMap;
						}
					} );
                   var animations = gltfa.animations;

				        if (animations && animations.length) {
                        mixer = new THREE.AnimationMixer(gltf.scene);
                        for (var i = 0; i < animations.length; i++) {
                            showanimation.push(animations[i]);
                        }
                    }
				   objectQi = gltfa.scene;
				
					scene.add( gltfa.scene );
                    objectQi.visible = false;
				},
				undefined,
				function ( e ) {

					console.error( e );

				} );








            renderer = new THREE.WebGLRenderer({
                antialias: true,alpha:true
            });
            renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setSize(window.innerWidth, window.innerHeight);
            renderer.setClearColor(0x4f6c97, 1.0);
            renderer.gammaOutput = true;
            container.appendChild(renderer.domElement);
            controls = new THREE.OrbitControls(
                camera,
                renderer.domElement
            );
            controls.enablePan = true;
			controls.panSpeed = .1;
			
            controls.enableDamping = true;
            controls.dampingFactor = 0.1;
            controls.enableZoom = true;
            controls.target.set(-0.00001, 0, 0);
			controls.minPolarAngle = Math.PI / 2 -0.11;
			controls.maxPolarAngle = Math.PI / 2 +0.08;       

			controls.maxAzimuthAngle = 0.9;
			controls.minAzimuthAngle = -0.9 ;     
   
			
			controls.autoRotateSpeed = -0.016;          
      
            controls.autoRotate = false;                


			controls.minDistance = 6;
			controls.maxDistance = 23;

            window.addEventListener('resize', onWindowResize, false);
    
        }

        function onWindowResize() {
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();

            renderer.setSize(window.innerWidth, window.innerHeight);
        }

        function onDocumentMouseMove(event) {
            event.preventDefault();
            console.log(event);
        }

        function onDocumentMouseStart(event) {
            event.preventDefault();
            console.log(event);
        }

        function onDocumentMouseEnd(event) {
            event.preventDefault();
            console.log(event);
        }





	
		function initGui() {
	
			gui = {
			};
			
		}


	
		function initStats() {
			stats = new Stats();
			
		}



		function initControls() {
			


	controls = new THREE.OrbitControls(camera, renderer.domElement);
    controls.addEventListener('change', render);

    controls.maxPolarAngle = Math.PI / 2;       




		}

		
		function render() {
		renderer.render(scene, camera);
		
			let halfWidth = window.innerWidth / 2;
			let halfHeight = window.innerHeight / 2;

            var vector1 = cube.position.clone().project(camera);
            var vector2 = cube2.position.clone().project(camera);

			var vectora1 = cubea1.position.clone().project(camera);
			var vectora2 = cubea2.position.clone().project(camera);
			var vectora3 = cubea3.position.clone().project(camera);
			var vectora4 = cubea4.position.clone().project(camera);
			var vectorb1 = cubeb1.position.clone().project(camera);
			var vectorb2 = cubeb2.position.clone().project(camera);
			var vectorb3 = cubeb3.position.clone().project(camera);
			var vectorb3 = cubeb3.position.clone().project(camera);
			var vectorb4 = cubeb4.position.clone().project(camera);


		
			$(".one").css({
				left: vector1.x * halfWidth + halfWidth,
				top: -vector1.y * halfHeight + halfHeight
			});


			$(".two").css({
				left: vector2.x * halfWidth + halfWidth,
				top: -vector2.y * halfHeight + halfHeight
			});



			            $(".a1").css({
                left: vectora1.x * halfWidth + halfWidth,
                top: -vectora1.y * halfHeight + halfHeight
            });
			            $(".a2").css({
                left: vectora2.x * halfWidth + halfWidth,
                top: -vectora2.y * halfHeight + halfHeight
            });
			            $(".a3").css({
                left: vectora3.x * halfWidth + halfWidth,
                top: -vectora3.y * halfHeight + halfHeight
            });
						$(".a4").css({
                left: vectora4.x * halfWidth + halfWidth,
                top: -vectora4.y * halfHeight + halfHeight
            });

					    $(".b1").css({
                left: vectorb1.x * halfWidth + halfWidth,
                top: -vectorb1.y * halfHeight + halfHeight
            });
			            $(".b2").css({
                left: vectorb2.x * halfWidth + halfWidth,
                top: -vectorb2.y * halfHeight + halfHeight
            });
			            $(".b3").css({
                left: vectorb3.x * halfWidth + halfWidth,
                top: -vectorb3.y * halfHeight + halfHeight
            });
						$(".b4").css({
                left: vectorb4.x * halfWidth + halfWidth,
                top: -vectorb4.y * halfHeight + halfHeight
            });


		}

	
		function onWindowResize() {

    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    render();
    renderer.setSize(window.innerWidth, window.innerHeight);

		}



		function draw() {
			
			if (!Detector.webgl) Detector.addGetWebGLMessage();
			initGui();
			initRender();
			initScene();

			fbxLoader();
			initCamera();
			initLight();
			initModel();
			initControls();
			initStats();
			animate();
			window.onresize = onWindowResize;
		}







    
        var time = 0;

        function animate() {

			
			render();
	
            requestAnimationFrame(animate);
            TWEEN.update();
            controls.update();
            renderer.render(scene, camera);

            if (mixer) mixer.update(clock.getDelta());


            if (shoeModel && startMove) {
                time += 1;
                shoeModel.traverse(function (child) {
                    if (child.type == 'Mesh') {
                        child.material.opacity -= opacity * opcityDir;
                        child.material.transparent = true;

                        if (child.material.opacity < 0.4 || child.material.opacity == 1) {
                            startMove = false;
                            time = 0;
                        }
                    }
                })
                if (time > 230) {
                    var action = mixer.clipAction(showanimation[0]);
                    action.loop = THREE.LoopOnce;
                    action.time = 0;
                    action.clampWhenFinished = true;
                    action.enable = true;
                    action.play();

                }



				if (mixers.length > 0) {
        for (var i = 0; i < mixers.length; i++) {

            mixers[i].update(clock.getDelta());

        }

    }
    requestAnimationFrame(animate);
    if (modelShow && modelShow.children.length > 0 && !initPosition) {
        camera.position.set(0, cameraResetPositionY, cameraResetPosition);
        console.log('enter');
        initPosition = true;
    }



            }
     
        }




		function loadJs(url,callback){
    var script=document.createElement('script');
    script.type="text/javascript";
    if(typeof(callback)!="undefined"){
        if(script.readyState){
            script.onreadystatechange=function(){
                if(script.readyState == "loaded" || script.readyState == "complete"){
                    script.onreadystatechange=null;
                    callback();
                }
            }
        }else{
            script.onload=function(){
                callback();
            }
        }
    }
    script.src=url;
    document.body.appendChild(script);
}
    </script>
</body>

</html>
